<configuration>
  
  <!-- Linux --> 
  <dllmap os="linux" dll="ShaderConductorWrapper.dll" wordsize="32" target="binaries/linux/x86/libShaderConductorWrapper.so"/>
  <dllmap os="linux" dll="ShaderConductorWrapper.dll" wordsize="64" target="binaries/linux/x64/libShaderConductorWrapper.so"/>
  
  <!-- Mac -->
  <dllmap os="osx" dll="ShaderConductorWrapper.dll" wordsize="32" target="binaries/osx/x86/libShaderConductorWrapper.dylib"/>
  <dllmap os="osx" dll="ShaderConductorWrapper.dll" wordsize="64" target="binaries/osx/x64/libShaderConductorWrapper.dylib"/>
  
</configuration>